.modal-code {
    padding: 64px 32px 56px!important;
}
.form-desc span {
    font-weight: 700;
}
.code-wrapper {
    margin: 24px 87.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.code-wrapper li {
    list-style: none;
}
.code-item {
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
    background: var(--character-light-primary-inverse);
    width: 40px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    vertical-align: middle;

}
.hint {
    margin-bottom: 0;
}

@media (max-width: 360px) {
    .modal-code {
        width: 328px!important;
        padding: 32px 16px!important;
    }
    .hint {
        margin: 0 20px;
    }
}